/*Estilo General del SCORM*/
body{
    background-color: #fff;
}
main{
    border: 0px !important;
    border-radius: 0px !important;
}
/*subpage*/
.divSubpage{
    background-color: rgb(247, 247, 247);
    padding: 3%;
    margin-top: 10px;
    display: grid;
}
/*Estilo imagenes*/
.divImg{
    text-align: center;
}
.divImg img{
    max-width: 300px;
}
.divImg, .divImg img{
    width: 100%;
    height: auto;
}
/*Actividades de arrastrar*/
.item{
    position: relative !important;
}

/*Pagina de presentación*/




/*Configuraciones responsivas*/
body{
    min-width: 300px;
}

@media screen and (max-width: 512px){
    /*Columnas*/
    .row{
        display: block !important;
    }

    .row > .col-2{
        width: 95% !important;
    }

    /*Img*/
    .divImg img{
        width: 60%;
        height: auto;
    }
}
@media screen and (min-width: 513px){
    .row{
        display: flex !important;
    }

    .row > .col-2{
        width: 50% !important;
    }
}